Repository rgj7/whoisrgj_blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npx --prefix frontend prettier --write
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint src --fix'
  language: system
  pass_filenames: false

docs: update README and CLAUDE.md for pre-commit and type annotation conventions
  CLAUDE.md
  README.md
Due: none

chore: add check-json and detect-private-key pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs: update README with new pre-commit hooks
  README.md
Due: none

docs: update CLAUDE.md with new pre-commit hooks
  CLAUDE.md
Due: none

feat: add collapsible Media section to PostEditor; apply content-card to editors
  .gitignore
  frontend/src/pages/admin/PageEditor.jsx
  frontend/src/pages/admin/PostEditor.jsx
Due: prettier, eslint

style: apply consistent depth hierarchy to admin inputs and buttons
  frontend/src/index.css
  frontend/src/pages/admin/BioSettings.jsx
  frontend/src/pages/admin/NavSettings.jsx
  frontend/src/pages/admin/PageEditor.jsx
  frontend/src/pages/admin/PostEditor.jsx
  frontend/src/pages/admin/SocialSettings.jsx
  frontend/src/pages/admin/TravelSettings.jsx
Due: prettier, eslint

feat: wire Games tab to RAWG API with post_media table
  backend/.env.example
  backend/alembic/env.py
  backend/alembic/versions/0009_add_post_media_table.py
  backend/app/config.py
  backend/app/main.py
  backend/app/models/post.py
  backend/app/models/post_media.py
  backend/app/routers/admin.py
  backend/app/routers/rawg.py
  backend/app/schemas/post.py
  backend/app/schemas/post_media.py
  frontend/src/pages/admin/GameSearch.jsx
  frontend/src/pages/admin/PostEditor.jsx
Due: mypy, prettier, eslint

feat: persist and restore game cover art in post_media
  backend/alembic/versions/0010_add_post_media_image_url.py
  backend/app/models/post_media.py
  backend/app/routers/admin.py
  backend/app/schemas/post_media.py
  frontend/src/pages/admin/GameSearch.jsx
  frontend/src/pages/admin/PostEditor.jsx
Due: mypy, prettier, eslint

feat: surface game cover art on post cards with split-panel layout
  backend/app/schemas/post.py
  frontend/src/components/PostCard.jsx
Due: mypy, prettier, eslint

feat: add cinematic hero banner to post page when cover art exists
  frontend/src/pages/Post.jsx
Due: prettier, eslint

feat: add RAWG game info panel to post detail page
  backend/app/routers/rawg.py
  frontend/src/components/GameInfoPanel.jsx
  frontend/src/pages/Post.jsx
Due: mypy, prettier, eslint

refactor: extract MetaField component in GameInfoPanel
  frontend/src/components/GameInfoPanel.jsx
Due: prettier, eslint

refactor: extract formatDate into shared utility
  frontend/src/components/PostCard.jsx
  frontend/src/pages/Post.jsx
  frontend/src/pages/admin/Dashboard.jsx
  frontend/src/utils/date.js
Due: prettier, eslint

feat: add SSL support for Neon database connection
  backend/app/database.py
Due: mypy

chore: remove local Postgres service, use external DATABASE_URL
  docker-compose.yml
Due: none

chore: add Caddy for SSL termination, update compose for Compute Engine
  .env.example
  Caddyfile
  docker-compose.yml
Due: none

fix: use nc for frontend healthcheck in nginx:alpine
  docker-compose.yml
Due: none

fix: use nginx PID file for frontend healthcheck
  docker-compose.yml
Due: none

chore: change domain from whoisrgj.com to blog.whoisrgj.com
  Caddyfile
  backend/app/main.py
Due: mypy

ci: add GitHub Actions deploy workflow
  .github/workflows/deploy.yml
Due: none

docs: update README for Neon database and Caddy setup
  README.md
Due: none

docs: update CLAUDE.md to reflect Neon, Caddy, and CI/CD changes
  CLAUDE.md
Due: none

docs: add RAWG integration details to CLAUDE.md
  CLAUDE.md
Due: none

security: require auth on /api/rawg/search endpoint
  backend/app/routers/rawg.py
Due: mypy

security: restrict /rawg/games/{game_id} to known post media IDs
  backend/app/routers/rawg.py
Due: mypy

docs: add third-party API proxy security conventions to CLAUDE.md
  CLAUDE.md
Due: none

docs: update README and add Dependabot config
  .github/dependabot.yml
  README.md
Due: none

feat: add password change to admin Settings tab
  backend/app/routers/admin.py
  backend/app/schemas/auth.py
  frontend/src/pages/admin/Dashboard.jsx
  frontend/src/pages/admin/PasswordSettings.jsx
Due: mypy, prettier, eslint

ci: build docker images in github actions, push to ghcr
  .github/workflows/deploy.yml
  docker-compose.yml
Due: none

ci: add workflow_dispatch trigger and guard deploy job to main only
  .github/workflows/deploy.yml
Due: none

ci: scp config files to VM instead of git pull
  .github/workflows/deploy.yml
Due: none

chore(deps): upgrade Vite 6→7 and @vitejs/plugin-react 4→5
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: regenerate package-lock.json without --legacy-peer-deps
  frontend/package-lock.json
Due: none

feat: add rate limiting via slowapi
  backend/app/limiter.py
  backend/app/main.py
  backend/app/routers/auth.py
  backend/app/routers/letterboxd.py
  backend/app/routers/rawg.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy

feat: improve Letterboxd widget UX and match Page markdown styling to Posts
  frontend/src/components/LetterboxdWidget.jsx
  frontend/src/pages/Page.jsx
Due: prettier, eslint

docs: sync CLAUDE.md with current codebase state
  CLAUDE.md
Due: none

feat(tests): add pytest test suite for backend (41 tests, 79% coverage)
  CLAUDE.md
  backend/pyproject.toml
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_health.py
  backend/tests/test_letterboxd.py
  backend/tests/test_pages_admin.py
  backend/tests/test_posts_admin.py
  backend/tests/test_posts_public.py
  backend/tests/test_rawg.py
  backend/tests/test_travels_admin.py
  backend/uv.lock
Due: none

chore: update .gitignore and .dockerignore for test artifacts
  .gitignore
  backend/.dockerignore
Due: none

chore: update healthcheck intervals and ignore local dev overrides
  .gitignore
  docker-compose.yml
Due: none

feat(auth): migrate JWT from localStorage to httpOnly cookies
  .gitignore
  CLAUDE.md
  backend/.env.example
  backend/app/auth.py
  backend/app/config.py
  backend/app/routers/auth.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_pages_admin.py
  backend/tests/test_posts_admin.py
  backend/tests/test_rawg.py
  backend/tests/test_travels_admin.py
  frontend/src/api/client.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/pages/Login.jsx
Due: mypy, prettier, eslint

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  prettier: any of: ^frontend/src/.*\.(js|jsx|css)$
  eslint: any of: ^frontend/src/.*\.(js|jsx)$
