Repository rgj7/whoisrgj_blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy app'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npx --prefix frontend prettier --write
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint src --fix'
  language: system
  pass_filenames: false

docs: update CLAUDE.md and fix dependabot docker directories
  .github/dependabot.yml
  CLAUDE.md
Due: none

ci: skip deploy workflow on documentation-only changes
  .github/workflows/deploy.yml
Due: none

docs: fix stale entries in CLAUDE.md
  CLAUDE.md
Due: none

refactor: extract shared MarkdownRenderer component and increase terminal font size
  frontend/src/components/MarkdownRenderer.jsx
  frontend/src/components/TerminalBlock.jsx
  frontend/src/pages/Page.jsx
  frontend/src/pages/Post.jsx
Due: prettier, eslint

fix: use start_interval to speed up deploy without flooding healthcheck logs
  docker-compose.yml
Due: none

chore: add .worktrees to gitignore
  .gitignore
Due: none

feat: enable Tailwind dark mode class and add FOUC prevention script
  frontend/index.html
  frontend/tailwind.config.js
Due: none

feat: add ThemeContext, useTheme hook, and ThemeToggle floating button
  frontend/src/App.jsx
  frontend/src/components/ThemeToggle.jsx
  frontend/src/context/ThemeContext.jsx
  frontend/src/hooks/useTheme.js
Due: prettier, eslint

feat: update index.css component classes for light/dark mode
  frontend/src/index.css
Due: prettier

feat: apply light/dark mode to Navbar, Footer, Sidebar
  frontend/src/components/Footer.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/Sidebar.jsx
Due: prettier, eslint

feat: apply light/dark mode to public pages and shared components
  frontend/src/components/BioWidget.jsx
  frontend/src/components/GameInfoPanel.jsx
  frontend/src/components/LetterboxdWidget.jsx
  frontend/src/components/PostCard.jsx
  frontend/src/components/TagBadge.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Page.jsx
  frontend/src/pages/Post.jsx
  frontend/src/pages/TagFeed.jsx
Due: prettier, eslint

feat: apply light/dark mode to MarkdownRenderer, Travels map, and admin pages
  frontend/src/components/MarkdownRenderer.jsx
  frontend/src/pages/Travels.jsx
  frontend/src/pages/admin/BioSettings.jsx
  frontend/src/pages/admin/Dashboard.jsx
  frontend/src/pages/admin/GameSearch.jsx
  frontend/src/pages/admin/NavSettings.jsx
  frontend/src/pages/admin/PageEditor.jsx
  frontend/src/pages/admin/PasswordSettings.jsx
  frontend/src/pages/admin/PostEditor.jsx
  frontend/src/pages/admin/SocialSettings.jsx
  frontend/src/pages/admin/TravelSettings.jsx
Due: prettier, eslint

fix: add useEffect cleanup in MarkdownRenderer and fix tag button colors in light mode
  frontend/src/components/MarkdownRenderer.jsx
  frontend/src/pages/admin/PostEditor.jsx
Due: prettier, eslint

fix: add light-mode base classes to admin action buttons
  frontend/src/pages/admin/BioSettings.jsx
  frontend/src/pages/admin/PasswordSettings.jsx
  frontend/src/pages/admin/TravelSettings.jsx
Due: prettier, eslint

fix: light mode polish — widgets, markdown text, post card gradient, terminal command color
  frontend/src/components/BioWidget.jsx
  frontend/src/components/LetterboxdWidget.jsx
  frontend/src/components/MarkdownRenderer.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/PostCard.jsx
  frontend/src/components/TerminalBlock.jsx
  frontend/src/index.css
  frontend/src/pages/Home.jsx
Due: prettier, eslint

assets: update whoisrgj_logo.png
  frontend/public/whoisrgj_logo.png
Due: none

docs: update CLAUDE.md with dark/light mode system and new components
  CLAUDE.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  prettier: any of: ^frontend/src/.*\.(js|jsx|css)$
  eslint: any of: ^frontend/src/.*\.(js|jsx)$
